{% extends "django_registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block content %}
{% url 'password_reset' as auth_pwd_reset_url %}
{% url 'django_registration_register' as register_url%}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
           <li>{% blocktrans %}{{ error }}{% endblocktrans %}</li>
        {% endfor %}
    {% endfor %}
  {% if form.non_field_errors %}
  <ul class="errorlist nonfield">
      {% for error in form.non_field_errors %}
        <li>{% blocktrans %}{{ error }}{% endblocktrans %}</li>
      {% endfor %}
  </ul>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">{% csrf_token %}
<table>
<tr>
    <td>{% trans form.username.label_tag %}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{% trans form.password.label_tag %}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="{% trans "login" %}" class="inline-flex py-2 px-4 mr-2 rounded-full mb-2 text-gray-700 font-semibold bg-gray-200 hover:bg-brand-pink hover:text-white" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<p>{% blocktrans %}<a href="{{ auth_pwd_reset_url }}">Forgot your password?</a>{% endblocktrans %}</p>
<p>{% blocktrans %}<a href="{{ register_url }}">Need an account</a>?{% endblocktrans %}</p>

{% endblock %}
