{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
  <head>
    <title>Racmuz Theme</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    {% tailwind_css %}
  </head>
  <body class="font-sans p-6">
    <div class="grid gap-4 grid-cols-6 h-32">
      <div class="p-3 bg-brand-gray-1">.bg-brand-gray-1</div>
      <div class="p-3 bg-brand-gray-2">.bg-brand-gray-1</div>
      <div class="p-3 bg-brand-gray-3">.bg-brand-gray-1</div>
      <div class="p-3 bg-brand-green">.bg-brand-gray-1</div>
      <div class="p-3 bg-brand-orange">.bg-brand-gray-1</div>
      <div class="p-3 bg-brand-pink">.bg-brand-gray-1</div>
    </div>
    <div class="grid gap-4 grid-cols-6 mb-12">
      <div class="p-3 font-bold text-xl text-brand-gray-1">
        .text-brand-gray-1
      </div>
      <div class="p-3 font-bold text-xl text-brand-gray-2">
        .text-brand-gray-1
      </div>
      <div class="p-3 font-bold text-xl text-brand-gray-3">
        .text-brand-gray-1
      </div>
      <div class="p-3 font-bold text-xl text-brand-green">
        .text-brand-gray-1
      </div>
      <div class="p-3 font-bold text-xl text-brand-orange">
        .text-brand-gray-1
      </div>
      <div class="p-3 font-bold text-xl text-brand-pink">
        .text-brand-gray-1
      </div>
    </div>
    <h1 class="text-9xl">Računalniški muzej .text-9xl</h1>
    <h2 class="text-8xl">Računalniški muzej .text-8xl</h2>
    <h3 class="text-7xl">Računalniški muzej .text-7xl</h3>
    <h3 class="text-6xl">Računalniški muzej .text-6xl</h3>
    <h3 class="text-5xl">Računalniški muzej .text-5xl</h3>
    <h3 class="text-4xl">Računalniški muzej .text-4xl</h3>
    <h3 class="text-3xl">Računalniški muzej .text-3xl</h3>
    <h3 class="text-2xl">Računalniški muzej .text-2xl</h3>
    <h3 class="text-xl">Računalniški muzej .text-xl</h3>
    <p class="text-lg">Računalniški muzej .text-lg</p>
    <p class="text-base">Računalniški muzej .text-base</p>
    <p class="text-sm">Računalniški muzej .text-sm</p>
    <p class="text-xs mb-12">Računalniški muzej .text-xs</p>
    <div class="h-32 bg-gradient text-white mb-12 p-3">.bg-gradient</div>
    <div class="grid gap-4 grid-cols-6">
      <div class="text-4xl font-thin">
        .font-thin<br /><span class="italic">.font-italic</span>
      </div>
      <div class="text-4xl font-light">
        .font-light<br /><span class="italic">.font-italic</span>
      </div>
      <div class="text-4xl font-normal">
        .font-normal<br /><span class="italic">.font-italic</span>
      </div>
      <div class="text-4xl font-medium">
        .font-medium<br /><span class="italic">.font-italic</span>
      </div>
      <div class="text-4xl font-bold">
        .font-bold<br /><span class="italic">.font-italic</span>
      </div>
      <div class="text-4xl font-black">
        .font-black<br /><span class="italic">.font-italic</span>
      </div>
    </div>
  </body>
</html>