<h1>Računalniški muzej</h1>
<p>Spletni dostop do zbirk Društva računalniški muzej</p>

<h3>Zbirke</h3>
<ul>
	{% for razstava in razstave %}
	{% if not razstava.otvoritev %}
	<li><a href="/razstava/{{ razstava.id }}/">{{ razstava }}</a></li>
	{% endif %}
	{% endfor %}
</ul>

<h3>Razstave</h3>
<ul>
	{% for razstava in razstave %}
	{% if razstava.otvoritev %}
	<li><a href="/razstava/{{ razstava.id }}/">{{ razstava }}</a></li>
	{% endif %}
	{% endfor %}
</ul>

<hr />
<h3>Novi primerki</h3>
<ul>
	{% for primerek in novosti %}
	<li><a href="/eksponat/{{ primerek.eksponat.id }}/">{{ primerek.eksponat }}</a></li>
	{% endfor %}
</ul>
<p>
	<a href="/eksponat/">Celoten katalog</a>
</p>

<hr />