{% extends "admin/base_site.html" %}

{% block extrahead %}{{ block.super }}
	<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
	
	<script type="text/javascript" src="/admin/jsi18n/"></script>
	<link href="/static/admin/css/vendor/select2/select2.min.css" type="text/css" media="screen" rel="stylesheet">
	<link href="/static/admin/css/autocomplete.css" type="text/css" media="screen" rel="stylesheet">
	<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
	<script type="text/javascript" src="/static/admin/js/vendor/select2/select2.full.min.js"></script>
	<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
	<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
	<script type="text/javascript" src="/static/admin/js/core.js"></script>
	<script type="text/javascript" src="/static/admin/js/autocomplete.js"></script>
	<script type="text/javascript" src="/static/admin/js/inlines.min.js"></script>
	<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
	<script type="text/javascript" src="/static/admin/js/SelectBox.js"></script>
	<script type="text/javascript" src="/static/admin/js/actions.min.js"></script>
	<script type="text/javascript" src="/static/admin/js/SelectFilter2.js"></script>
	<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
	<script type="text/javascript" src="/static/admin/js/prepopulate.min.js"></script>
	<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.min.js"></script>

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    
    {{ media }}
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <p>
            {{ form }}
        </p>
        <ul>
            {% for item in items %}
                <li>
                    {{ item }}
                </li>
                {# this is required by Django Admin custom action framework #}
                <input type="hidden" name="_selected_action" value="{{ item.pk }}"/>
            {% endfor %}
        </ul>
                {# this is required by Django Admin custom action framework #}
        <input type="hidden" name="action" value="{{ request.POST.action }}"/>
        <input type="hidden" name="form-post" value="True"/>
        <input type="submit" name="apply" value="Save"/>
    </form>
{% endblock %}