{% extends "app.html" %}

{% block menu %}
<ul>
    <li><a href="/evidenca/">Seznam</a></li>
    <li><a href="/evidenca/zemljevid/">Zemljevid</a></li>
    <li class="selected"><a href="/evidenca/oprojektu/">O projektu</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="app">
    <div class="organizations">
      <h1>O projektu</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel mattis arcu. Curabitur leo leo, consequat a rhoncus id, cursus eget nisl. Curabitur rutrum a augue non porta. Nunc lacinia scelerisque metus in bibendum. Sed vel ex tristique, euismod erat sed, egestas nunc. Maecenas mollis, nunc in ultrices venenatis, tellus libero bibendum orci, vitae molestie dui leo vel leo. Proin finibus odio dictum laoreet scelerisque. Cras a nibh tellus. Donec dignissim porttitor leo at mattis. Sed erat neque, gravida eu diam nec, tincidunt aliquam turpis. Nunc odio lectus, aliquam tempor congue ut, tempus lacinia nulla. Sed pretium tellus diam, in porttitor felis finibus eu. Quisque ultrices, elit ac laoreet ornare, nisl nunc lobortis velit, ut lacinia eros lectus a magna. Proin quis neque cursus, viverra leo vel, sagittis libero.
        </p>
        <p>Nulla dapibus risus urna, nec blandit velit congue vitae. Aenean tempus bibendum leo, ut commodo mauris vulputate vel. Maecenas nec urna sollicitudin elit ultrices viverra vel dapibus turpis. Duis dui nibh, facilisis id sapien quis, dignissim imperdiet eros. Curabitur placerat sapien ut lobortis accumsan. Cras neque purus, bibendum in sem ac, condimentum fringilla ante. Nulla facilisi.
        </p> 
        <p>Cras semper finibus purus, sed feugiat nunc aliquet sed. Integer quis egestas nunc. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam elementum orci erat, vel euismod sem placerat in. Nulla ligula enim, dictum eget arcu sit amet, elementum lacinia diam. Nam convallis vestibulum purus, et tempor leo. Nunc fermentum tristique libero.
        </p> 
        <p>Sed tincidunt odio lorem, a semper nunc accumsan nec. Aliquam ullamcorper pulvinar tellus, vitae tempor eros. Phasellus sollicitudin blandit feugiat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer dictum vel ante eget semper. Phasellus faucibus, dolor non vestibulum vestibulum, felis ex euismod erat, in auctor nibh orci eu purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec vehicula, nunc et posuere egestas, dolor lacus tincidunt ex, sed sodales dolor eros eget sapien. Phasellus accumsan, justo ac faucibus venenatis, justo ligula aliquet enim, vitae suscipit nisl sapien a leo. Nunc ultricies hendrerit dictum. Pellentesque ut efficitur dolor. Aenean facilisis magna ut ipsum placerat, sed euismod augue accumsan. Vivamus vitae magna eu arcu dapibus pulvinar non et enim.
        </p> 
        <p>Curabitur tellus eros, condimentum et turpis non, eleifend aliquam purus. Vivamus eget porttitor lorem, eu scelerisque dui. Suspendisse efficitur iaculis enim, non egestas libero. Fusce sed tristique urna. Nam efficitur porta semper. Praesent venenatis rhoncus feugiat. Nullam mauris eros, consectetur quis dignissim vitae, dictum ac arcu. Etiam posuere luctus lorem a suscipit. Sed rutrum lectus et leo gravida tempus.</p>
    </div>
</div>
{% endblock %}
