{% extends "app.html" %}

{% block menu %}
<ul>
    <li><a href="/evidenca/">Seznam</a></li>
    <li><a href="/evidenca/osebe/">Osebe</a></li>
    <li><a href="/evidenca/zemljevid/">Zemljevid</a></li>
    <li class="selected"><a href="/evidenca/oprojektu/">O projektu</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="app">
    <div class="organizations">
        <h1>O projektu</h1>
        <div class="about">
            <p>Evidenca se je začela kot ambiciozna ideja, raziskati in popisati prvih <strong>40 računalnikov</strong> 
                v Sloveniji - kje so bili in kaj so počeli. Dokaj hitro je raziskava prerasla v popis 
                prvih <strong>40 let</strong> računalnikov, s prek dvesto identificiranimi stroji in podjetji, 
                iz tisoc petsto pisnih virov.
            </p>
            <p>Evidenca je tako najbolj celovita predstavitev prihoda nove tehnologije na naš prostor, in osnova za 
                serijo člankov, ki se tedensko objavljajo na spletnih straneh Računalniškega muzeja. Ostanke marsikaterega 
                računalnika iz Evidence tudi hranimo v muzeju.
            </p>
            <p>Evidenca je tudi osnova za zbiranje ustne zgodovine. Naši raziskovalci na terenu izvajajo pogovore s pionirji
                računalništva v Sloveniji. Pogovori so zaenkrat samo shranjeni v muzejskem arhivu, upamo da jih uspemo uredit
                tako, da bodo lahko v prihodnje tudi na voljo javnosti. 
            </p>
            <p>
                
            </p>
            <p>
                Če opazite kako napako ali imate kake informacije, ki bi obogatile Evidenco, nam prosim javite na naslov
                <a href="mailo:info@racunalniski-muzej.si">info@racunalniski-muzej.si</a>
            </p>
        </div>
    </div>
    <div id="details" class="details">
        <div class="detail-info">
    <dl>
        <dt>Raziskava</dt><dd>Miha Urh</dd>
        <dt>Programiranje</dt><dd>Boštjan Špetič, Anej Gorkič</dd>
        <dt>Donatorji</dt><dd>Dušan Omerčevič, Jernej Strasner, Boštjan Špetič</dd>
        <dt>Trajanje</dt><dd>2022-</dd>
    </dl>
    <h3>Članki</h3>
    <ul>
        <li><a target="_blank" href="https://www.racunalniski-muzej.si/prvi-racunalniki-v-sloveniji-prvi-racunski-stroji-v-javnih-ustanovah/">1 - prvi računski stroji v javnih ustanovah</a></li>
        <li><a target="_blank" href="https://www.racunalniski-muzej.si/prvi-racunalniki-v-sloveniji-2-del-racunski-stroji-v-gospodarstvu/">2 - računski stroji v gospodarstvu</a></li>
        <li><a target="_blank" href="https://www.racunalniski-muzej.si/prvi-racunalniki-v-sloveniji-dodatek-a-programiranje-racunskih-strojev/">3 - programiranje računskih strojev</a></li>
        <li><a target="_blank" href="https://www.racunalniski-muzej.si/prvi-racunalniki-v-sloveniji-dodatek-b-programiranje-s-karticami-in-trakovi/">4 - programiranje s karticami in trakovi</a></li>
        <li><a target="_blank" href="https://www.racunalniski-muzej.si/prvi-racunalniki-v-sloveniji-3-del-elektronski-racunalniki-v-jugoslaviji/">5 - elektronski računalniki v Jugoslaviji</a></li>
        <li><a target="_blank" href="https://www.racunalniski-muzej.si/prvi-racunalniki-v-sloveniji-dodatek-c-prva-generacija-programskih-jezikov/">6 - prva generacija programskih jezikov</a></li>
        <li><a target="_blank" href="https://www.racunalniski-muzej.si/prvi-racunalniki-v-sloveniji-dodatek-d-druga-generacija-programskih-jezikov/">7 - druga generacija programskih jezikov</a></li>
        <li><a target="_blank" href="https://www.racunalniski-muzej.si/prvi-racunalniki-v-sloveniji-4-del-elektronski-racunalnik-zuse-z-23/">8 - Zuse Z-23</a></li>
        <li><a target="_blank" href="https://www.racunalniski-muzej.si/prvi-racunalniki-v-sloveniji-5-del-prvi-vecji-elektronski-center/">9 - prvi večji elektronski center</a></li>
        <li><a target="_blank" href="https://www.racunalniski-muzej.si/prvi-racunalniki-v-sloveniji-6-del-racunalniki-ibm-360/">10 - IBM 360</a></li>
    </ul>
    </div></div>
</div>

{% endblock %}