{% extends "app.html" %}
{% load static %}
{% block menu %}
{% load hosts %}
<ul>
    <li><a href="{% url 'racunalniki' %}">Seznam</a></li>
    <li><a href="{% url 'osebe' %}">Osebe</a></li>
    <li><a href="{% url 'zemljevid' %}">Zemljevid</a></li>
    <li class="selected"><a href="{% url 'oprojektu' %}">O projektu</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="app">
    <div class="organizations">
        <h1>O projektu</h1>
        <div class="about">
            <p>Evidenca se je začela kot ambiciozna ideja: raziskati in popisati prvih <strong>40 računalnikov</strong> 
                v Sloveniji - kje so bili in kaj so počeli. Dokaj hitro je raziskava prerasla v popis 
                prvih <strong>40 let</strong> računalnikov, s prek dvesto identificiranimi stroji in podjetji, 
                iz tisoc petsto pisnih virov.
            </p>
            <p>Evidenca je tako najbolj celovita predstavitev prihoda nove tehnologije na naš prostor, in osnova za 
                serijo člankov, ki se tedensko objavljajo na spletnih straneh Računalniškega muzeja. Ostanke marsikaterega 
                računalnika iz Evidence tudi hranimo v muzeju.
            </p>
            <p>Evidenca je tudi osnova za zbiranje ustne zgodovine. Naši raziskovalci na terenu izvajajo pogovore s pionirji
                računalništva v Sloveniji. Pogovori so zaenkrat samo shranjeni v muzejskem arhivu, upamo da jih uspemo uredit
                tako, da bodo lahko v prihodnje tudi na voljo javnosti. 
            </p>
            <p>Cilj projekta je popisati vse računalnike, računalnikarje in njihove dosežke v Sloveniji. 
                Verjamemo da je takšna evidenca nujno potrebna, da se nove generacije lahko učijo od predhodnikov.
                Če opazite kako napako ali imate kake informacije, ki bi obogatile Evidenco, nam prosim javite na naslov
                <a href="mailo:info@racunalniski-muzej.si">info@racunalniski-muzej.si</a>
            </p>
        </div>
            <h1>Članki v seriji</h1>
        <div class="about">
            <h2>Začetki</h2>
            <ol>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/prvi-racunalniki-v-sloveniji-prvi-racunski-stroji-v-javnih-ustanovah/">prvi računski stroji v javnih ustanovah</a></li>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/prvi-racunalniki-v-sloveniji-2-del-racunski-stroji-v-gospodarstvu/">računski stroji v gospodarstvu</a></li>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/prvi-racunalniki-v-sloveniji-3-del-elektronski-racunalniki-v-jugoslaviji/">elektronski računalniki v Jugoslaviji</a></li>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/prvi-racunalniki-v-sloveniji-4-del-elektronski-racunalnik-zuse-z-23/">Zuse Z-23</a></li>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/prvi-racunalniki-v-sloveniji-5-del-prvi-vecji-elektronski-center/">prvi večji elektronski center</a></li>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/prvi-racunalniki-v-sloveniji-6-del-racunalniki-ibm-360/">IBM 360</a></li>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/prvi-racunalniki-v-sloveniji-7-del-nadaljevanje-in-prvi-mini-racunalniki/">Prvi mini računalniki</a></li>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/prvi-racunalniki-v-sloveniji-8-del-prva-racunalniska-mreza-in-solstvo/">Prva računalniška mreža in šolstvo</a></li>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/prvi-racunalniki-v-sloveniji-9-del-prvi-procesni-racunalniki/">Prvi procesni računalniki</a></li>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/prvi-racunalniki-v-sloveniji-10-del-cyber-72-in-javna-uprava/">Cyber 72 in javna uprava</a></li>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/prvi-racunalniki-v-sloveniji-11-del-prvi-koraki-do-medmrezja/">Prvi koraki do medmrežja</a></li>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/prvi-racunalniki-v-sloveniji-10-del-tretja-generacija-in-zdravstvo/">Tretja generacija računalnikov in zdravstvo</a></li>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/prvi-racunalniki-v-sloveniji-13-del-uvozne-omejitve-in-skupni-centri/">Uvozne omejitve in skupni centri</a></li>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/prvi-racunalniki-v-sloveniji-14-del-vecji-projekti-in-domaca-proizvodnja/">Večji projekti in domača proizvodnja</a></li>
            </ol>
            <h2>Domača proizvodnja</h2>
            <ol>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/domaca-proizvodnja-1-del-razvoj-bazicnih-tehnologij/">Razvoj bazičnih tehnologij</a></li>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/domaca-proizvodnja-2-del-mikroprocesorji-in-mikroracunalniki/">Mikroprocesorji in mikroračunalniki</a></li>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/domaca-proizvodnja-3-del-prvi-procesni-mikroracunalniki/">Prvi domači računalniki</a></li>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/domaca-proizvodnja-4-del-iskra-racunalniki-do-1981/">Iskra Računalniki do 1981</a></li>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/domaca-proizvodnja-5-del-elektrotehna-delta-do-1981/">Elektrotehna Delta do 1981</a></li>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/domaca-proizvodnja-6-del-enoten-program-racunalniske-proizvodnje/">Enoten program proizvodnje</a></li>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/domaca-proizvodnja-7-del-prvi-koraki-in-mikroracunalnik-partner/"></a>Partner</li>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/domaca-proizvodnja-8-del-mikroracunalniska-kultura-in-opremljanje-sol/">Šolstvo</a></li>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/domaca-proizvodnja-9-del-drugi-jugoslovanski-in-tuji-mikroracunalniki/">Drugi mikroračunalniki</a></li>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/domaca-proizvodnja-10-del-smer-razvoja-mikroelektronike/">Mikroelektronika</a></li>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/domaca-proizvodnja-11-del-zacetki-robotike-in-razvoj-v-gorenju/">Robotika</a></li>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/domaca-proizvodnja-12-del-v-smeri-domacega-razvoja/">V smeri domačega razvoja</a></li>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/domaca-proizvodnja-13-del-vrh-z-druzino-triglav-in-ibm-pc/">IBM PC in Triglav</a></li>
                <li><a target="_blank" href="">Nov proizvodni program</a></li>
            </ol>
            <h2>Dodatek: programiranje prvih računalnikov</h2>
            <ol>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/prvi-racunalniki-v-sloveniji-dodatek-a-programiranje-racunskih-strojev/">programiranje računskih strojev</a></li>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/prvi-racunalniki-v-sloveniji-dodatek-b-programiranje-s-karticami-in-trakovi/">programiranje s karticami in trakovi</a></li>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/prvi-racunalniki-v-sloveniji-dodatek-c-prva-generacija-programskih-jezikov/">prva generacija programskih jezikov</a></li>
                <li><a target="_blank" href="https://www.racunalniski-muzej.si/prvi-racunalniki-v-sloveniji-dodatek-d-druga-generacija-programskih-jezikov/">druga generacija programskih jezikov</a></li>
            </ol>
        </div>
            <h1>Uradne statistike Zavoda za Statistiko RS</h1>
            <p>Ti dve evidenci sta najbolj popolna popisa računalniške opreme v Sloveniji.</p>
        <div class="about">
                <h4>1976 >> Zmogljivost in uporaba opreme za avtomatsko obdelavo podatkov (<a href="https://www.dlib.si/stream/URN:NBN:SI:DOC-ASKTHV5Q/19ce280f-c442-46cd-9fc4-45ac5f4053c2/PDF">objavljena 1979</a>)</h4>
                <ul>
                    <li>245 enot za avtomatsko obdelavo podatkov, 84 do leta 1970, potem pa 42, 30, 35, 29, 18, 7
                    <li>4217 zaposlenih v enotah AOP, 3256 s srednjo in nižjo izobrazbo, 1961 v Ljubljani
                    <li>1294 na pripravljalnih strojih, 1062 programerjev/organizatorjev, 287 projektantov obdelave
                    <li>418 luknjalnikov, 221 verificirk, 133 verificirk luknjalnikov, 120 luknjalnikov traku
                    <li>62 sortirk, 1 tabelirka, 3 mešalke, 4 duplicirke
                    <li>68 terminalov, 45 monitorjev, 146 tiskalnikov, 8 risalnikov, 46 povezovalnih naprav,
                    <li>384 diskovnih enot, 3616 diskov, 5 magnetnih bobnov, 4 enot magnetnih kartic, 18 enot magnetnega traku
                    <li>7 računalnikov z zunanjim programom
                    <li>143 računalnikov z notranjim programom, 29 nameščenih pred 1970, 14, 16, 32, 21, 14, 12
                    <li>82 lastnih, 57 najetih, 4 v solastništvu, 113 enot AOP z enim računalnikom, 9 z dvema, 4 s tremi
                    <li>10 IBM 360/20, 12 360/25, 7 360/30, 1 360/40, 5 IBM 370/115, 3 370/125, 18 370/135, 2 370/145
                    <li>7 IBM 1130, 1 IBM 1401, 20 IBM 3
                    <li>7 Burroughs; 8 Fujitsu; 6 Univac, Philips; 5 Honeywell, HP; 4 DEC, Singer, NCR; 3 CDC; 2 Nixdorf, Siemens                    
                </ul>
                <h4>1978 >> Zmogljivost in uporaba opreme za avtomatsko obdelavo podatkov (<a href="https://www.dlib.si/stream/URN:NBN:SI:DOC-H45YRZB4/0d6eadec-2748-4ace-a251-9fe41f1dd18d/PDF">objavljena 1981</a>)</h4>
                <ul>
                    <li>354 enot za avtomatsko obdelavo podatkov, 87 do leta 1970, potem pa 40, 41, 41, 38, 31, 26, 30, 20
                    <li>5400 zaposlenih v enotah AOP, 4139 s srednjo in nižjo izobrazbo, 2288 v Ljubljani
                    <li>1595 na pripravljalnih strojih, 1265 programerjev/organizatorjev, 427 projektantov obdelave
                    <li>420 luknjalnikov, 226 verificirk, 273 verificirk luknjalnikov, 203 luknjalnikov traku
                    <li>60 sortirk, 0 tabelirk, 4 mešalke, 9 duplicirk
                    <li>218 terminalov, 140 monitorjev, 220 tiskalnikov, 15 risalnikov, 101 povezovalna naprava,
                    <li>550 diskovnih enot, 5505 diskov, 30 magnetnih bobnov, 17 enot magnetnih kartic, 295 enot magnetnega traku
                    <li>16 računalnikov z zunanjim programom
                    <li>267 računalnikov z notranjim programom, 39 nameščenih pred 1970, 17, 26, 35, 33, 24, 27, 29, 26
                    <li>186 lastnih, 69 najetih, 12 v solastništvu, 169 enot AOP z enim rač., 19 z dvema, 13 s tremi, 5 s štirimi
                    <li>10 IBM 360/20, 11 360/25, 7 360/30, 7 IBM 370/115, 3 370/125, 24 370/135, po 1 370/138, 158 in 145
                    <li>6 IBM 1130, 1 IBM 1401, 19 IBM 3
                    <li>41 Philips, 34 Burroughs; 19 DEC; 17 CDC; 13 Fujitsu; 9 Robotron; 7 Honeywell, HP; 6 Univac; 5 NCR, Delta;
                    <li>4 Singer; 3 Nixdorf, 2 MAI Basi, Logabax
                </ul>
            </div>
            <h1>Beseda avtorja</h1>
            <div class="about">
            <p>
                Projekt je začel nastajati Januarja 2022 s pobuda člana/ov Računalniškega muzeja, da se razišče zgodovino prvih 40 elektronskih računalnikov v Sloveniji. Po podatku IJS naj bi bilo pri nas vsaj toliko elektronskih računalnikov sredi leta 1970. Kot viri za izvedbo raziskave so tako sprva služili predvsem časniki iz obdobja 1958-1971 dostopni v Digitalni knjižnici Slovenije https://www.dlib.si/
            </p><p>
                Prve sledi so raziskavo postopno vse bolj širile na različna področja, k drugim virom in so se začele prekrivati s temo domače računalniške proizvodnje. Postalo je jasno, da je tema prvih računalnikov, če naj prikaže celovito sliko, še veliko širša in bolj nepredvidljiva kot se je sprva zdelo. Počasi se je začel razkrivati že precej zakrit in pozabljen svet prvih elektronskih računalnikov pri nas, obenem pa tudi svet njihovih predhodnikov, računskih strojev, in njihovih naslednikov, mikroračunalnikov. Raziskava se je tako postopno razširila v obdobje od leta 1946 pa vse do leta 1978.
            </p><p>
                Odpirati so se začele tudi izrazite tematske vertikale. Stanje računalniške kulture in politike, prelomni dogodki, znanstveno-raziskovalno delo na področju računalništva, računalništvo v izobraževalnem sistemu, računalništvo v zdravstvu, računalništvo v javni upravi in družbeni informacijski sistem, oblikovanje računalniških mrež in javnega omrežja, procesno računalništvo in avtomatizacija, obdelava podatkov in programiranje, pa razvoj domače industrije računalnikov in mikroelektronike, ki je odprl še popolnoma novo raziskavo domače računalniške industrije in prvotno raziskavo razširil vse do leta 1987.
            </p><p>
                Z namenom, da se zbrani podatki povežejo in postavijo v nek kontekst, sta začeli nastajati besedili o prvih računalnikih in domači izdelavi. Izoblikovali so se značilni sklopi, ki so se začeli povezovat s širšimi obdobji v samem razvoju elektronske, računalniške in komunikacijske tehnologije. Priprava besedil je terjala vse večje dodatne raziskave in poglobitve, te pa so posledićno vse bolj izpopolnjevale evidenco prvih nameščenih in izdelanih računalnikov, do oblike kot jo imate pred seboj danes.
            </p><p>
                Sodelavci muzeja so poskrbeli za uporabno izvedbo zbranih podatkov, ki tako poleg natančne evidence prvih računalnikov z obsežnim katalogom večinoma javno dostopnih virov in raziskovalnih poročil v obliki skrbno pripravljenih spletnih objav, vključuje tudi interaktiven zemljevid prvih računalnikov in evidenco nekaterih strokovnjakov in ustvarjalcev računalniške dediščine pri nas z opisi njihovih prispevkov na tem področju.
            </p><p>
                Projekt verjetno ne bo nikoli zaključen, vsekakor pa se še vedno močno razvija! Za izpolnitev vrzeli in pomanjkljivih ali napačnih podatkov potrebujemo tudi vašo pomoč. Narava uporabljenih virov, ki pogosto prinaša nejasnosti in neskladnosti zahteva večkratno potrjevanje posameznih podatkov, zato bomo za kakršnekoli sledi, ki lahko pripeljejo do otipljivih virov, zelo hvaležni. Obenem upamo, da bo javno dostopna evidenca z viri spodbudila še nadaljne raziskave.
            </p><p>
                Besedila poskušajo predvsem odkrivati rdeče niti v zgodbi o razvoju računalništva pri nas, obenem pa posredovati tudi čimveč zanimivih podrobnosti. Po eni strani se trudijo zajeti čim širši nabor potrjenih računalnikov in način oziroma polje njihove uporabe, njihov pomen ali doprinos k razvoju računalništva v državi. Na ta način zlahka zapadejo v suhoparnost. Po drugi strani se trudijo raznolike vire zajeti v strnjeno zaporedje dogajanj, ki teče kronološko in obenem tematsko. S tem zlahka nenamerno pridenejo pojavom pomen ali mesto, ki ga ti morda niso imeli. Hkrati jih s številnimi problemi obremenjuje pomanjkljivost in neenakomerna razporeditev, nedorečenost in pogosto težko zaznavna subjektivnost virov. Vseh teh težav pogosto ni bilo mogoče razrešiti ali obiti.
            </p>
            <p>Miha Urh, Januar 2023</p>
        </div>
    </div>
    <div id="details" class="details">
        <div class="detail-info">
    <dl>
        <dt>Raziskava</dt><dd>Miha Urh</dd>
        <dt>Programiranje</dt><dd>Boštjan Špetič, Anej Gorkič</dd>
        <dt>Donatorji</dt><dd>Dušan Omerčevič, Jernej Strasner, Boštjan Špetič</dd>
        <dt>Trajanje</dt><dd>2022-</dd>
        <dt>Zahvale</dt><dd>Izvedba te raziskave ne bi bila mogoča brez <a href="http://www.dlib.si" target="_blank">D-Lib</a> in <a target="_blank" href="https://www.delo.si/tag/arhiv/">Delo</a>. Odprti arhivi omogočajo napredek znanosti.</dd>
    </dl>
    <h3>Legenda</h3>
    <ul class="legend">
        <li><span class="year">🇸🇮</span>Proizvedeno / načrtovano v Sloveniji ali Jugoslaviji</li>
        <li><span class="icon"><img width="30" height="30" title="A" alt="A" src="{% get_media_prefix %}A.png" /></span>
        Predgeneracija računskih strojev (releji + vakuumske elektronke)</li>
        <li><span class="icon"><img width="30" height="30" title="B" alt="B" src="{% get_media_prefix %}B.png" /></span>
        Prva generacija elektronskih računalnikov (vakuumske elektronke)</li>
        <li><span class="icon"><img width="30" height="30" title="C" alt="C" src="{% get_media_prefix %}C.png" /></span>
        Druga generacija elektronskih računalnikov (tranzistorji)</li>
        <li><span class="icon"><img width="30" height="30" title="D" alt="D" src="{% get_media_prefix %}D.png" /></span>
        Druga generacija elektronskih računalnikov (hibridna vezja in tranzistorji)</li>
        <li><span class="icon"><img width="30" height="30" title="E" alt="E" src="{% get_media_prefix %}E.png" /></span>
        Tretja generacija elektronskih računalnikov (integrirana vezja in MOSFET)</li>
        <li><span class="icon"><img width="30" height="30" title="F" alt="F" src="{% get_media_prefix %}F.png" /></span>
        Četrta generacija mikro računalnikov (mikroprocesorji)</li>
        <li><span class="icon"><img width="30" height="30" title="G" alt="G" src="{% get_media_prefix %}G.png" /></span>
        Analogni in hibridni računalniki ()</li>
        <li><span class="icon"><img width="30" height="30" title="X" alt="X" src="{% get_media_prefix %}X.png" /></span>
        Zelo šibki in pomanjkljivi viri ()</li>
    </dl>
    </div></div>
</div>

{% endblock %}