<h1 class="back">{{ oseba.ime }} ({{ oseba.rojstvo.year }} - {{ oseba.smrt.year }})</h1>
<div class="detail-info">
{% if oseba.povzetek %}<p>{{ oseba.povzetek }}</p>{% endif %}
<dl>
    {% if o.sluzba.count != 0 %}
        <dt>Sluzbe:</dt>
        <dd>
            {% for o in oseba.sluzba.all %}
            <a class="org-filter" href="/evidenca/osebe/organizacije/#{{ o.pk }}">{{ o }}</a>
            {% if forloop.last %}{% else %}, {% endif %}
            {% endfor %}
        </dd>
    {% endif %}
    {% if oseba.dosezek.all %}
    <dt>Dosežki:</dt>
    <ul>
        {% for d in oseba.dosezek.all %}
        <li>{{ d }} ({{ d.get_vrsta_display }}, {{ d.get_pomen_display }})</li>
        {% endfor %}
    </ul>
    {% endif %}
    <dt>Viri:</dt>
    <ul>
        {% for v in oseba.pogovor_set.all %}
        <li>Muzejski pogovor: {{ v.datum }}</li>
        {% endfor %}
        {% if oseba.url %}<li><a target="_blank" href="{{ oseba.url }}">Osebna stran</a></li>{% endif %}
        {% if oseba.wiki_sl %}<li><a target="_blank" href="{{ oseba.wiki_sl }}">Wikipedija SL</a></li>{% endif %}
        {% if oseba.wiki_en %}<li><a target="_blank" href="{{ oseba.wiki_en }}">Wikipedija EN</a></li>{% endif %}
        {% if oseba.linkedin %}<li><a target="_blank" href="{{ oseba.linkedin }}">Linkedin</a></li>{% endif %}
        {% if oseba.slobio %}<li><a target="_blank" href="{{ oseba.slobio }}">Slovenska biografija</a></li>{% endif %}
    </ul>
    {% if oseba.opis %}
    <dt>Opis:</dt>
    <dd>{{ oseba.opis }}</dd>
    {% endif %}
</dl>
</div>