{% extends "app.html" %}
{% load smart_if %}
{% load static %}
{% block menu %}
<ul>
    <li class="selected"><a href="{% url 'racunalniki' %}">Seznam</a></li>
    <li><a href="{% url 'osebe' %}">Osebe</a></li>
    <li><a href="{% url 'zemljevid' %}">Zemljevid</a></li>
    <li><a href="{% url 'oprojektu' %}">O projektu</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="app">
    <div class="list">
        <h1>
            Prvi računalniki v Sloveniji
        </h1>
        <div class="filters" id="clearFilters">
            « Nazaj na vse računalnike
        </div>
        <ul>
            {% for racunalnik in object_list %}
            <li>
                <a class="list-item list-item-{{ racunalnik.pk }}" href="#C{{ racunalnik.pk }}"
                    data-pk="{{ racunalnik.pk }}" data-type="racunalnik" data-prefix="{% url 'racunalniki' %}"
                    data-org-pk="D{{ racunalnik.nosilec.pk}} {% for o in racunalnik.organizacija.all %}D{{ o.pk }} {% endfor %}">
                    <span class="index">{{ forloop.counter|stringformat:"03d" }}</span>
                    <span class="year">{{ racunalnik.nakup.year }}</span>
                    <span class="icon">
                        <img width="30" height="30" title="{{ racunalnik.get_generacija_display }}" alt="{{ racunalnik.get_generacija_display }}" src="{% get_media_prefix %}{{ racunalnik.generacija }}.png" />
                    </span>
                    {% ifequal racunalnik.proizvajalec.drzava "Jugoslavija" %}<span class="year">🇸🇮</span>{% endifequal %}
                    <span class="name">
                        {{ racunalnik.nosilec }}
                        {% if racunalnik.organizacija.count > 1 %} + {{ racunalnik.organizacija.count }}{% endif %}
                        <br />
                        <span class="owner">{{ racunalnik.ime }}</span>
                    </span>
            </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="details" class="details hide">
    </div>
</div>
{% endblock %}