{% extends "app.html" %}
{% load smart_if %}
{% load static %}

{% block menu %}
<ul>
    <li><a href="/evidenca/">Seznam</a></li>
    <li><a href="/evidenca/osebe/">Osebe</a></li>
    <li class="selected"><a href="/evidenca/zemljevid/">Zemljevid</a></li>
    <li><a href="/evidenca/oprojektu/">O projektu</a></li>
</ul>
{% endblock %}

{% block head %}
<script src="https://cdn.maptiler.com/maplibre-gl-js/v2.4.0/maplibre-gl.js"></script>
<link href="https://cdn.maptiler.com/maplibre-gl-js/v2.4.0/maplibre-gl.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="app">
        <h1>Lokacije računalnikov leta: <span id='year'>1972</span></h1>
        <div class="slider-wrapper">
            <span>«</span>
            <div id="slider">
                <input class="slider" type="range" min="1945" max="1990" step="1" value="1972" id="myslider" />            
            </div>
            <span>»</span>
        </div>
        
        <div id="map">
            <!-- iframe width="100%" height="800" src="https://api.maptiler.com/maps/64168023-8d71-4171-862a-662b76857020/?key=ct9mAzrnD0WFczmLJ24B#7.5/46.22656/14.93719"></iframe -->
        </div>    
        <!-- script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script -->
        <script>
            const key = 'ct9mAzrnD0WFczmLJ24B';
            const map = new maplibregl.Map({
              container: 'map', // container id
              style: 'https://api.maptiler.com/maps/56ec32c0-2e07-4dc9-93f6-159032e89cc6/style.json?key=ct9mAzrnD0WFczmLJ24B', // style URL
              center: [14.93719, 46.22656], // starting position [lng, lat]
              zoom: 8, // starting zoom/
              minZoom: 5,
              maxZoom: 18,
              maxBounds: [
                    [12, 44], // Southwest LngLat
                    [18, 48]  // Northeast LngLat
              ],
            });

            map.loadImage(
                '{% get_media_prefix %}cropped-4fb_profile_image_rm-1-32x32.png',
                function (error, image) {
                    if (error) throw error;
                    map.addImage('cat', image);
                });

            function filterBy(year) {
                var filters = ['<=', "leto", parseInt(year)];
                map.setFilter('blobs', filters);
                map.setFilter('racunalniki', filters);
                map.setFilter('places', filters);
                document.getElementById('year').textContent = year;
            }

            map.on('load', function () {
                //console.log(map.getStyle().layers);
                map.addSource(
                    'places', {
                        'type': 'geojson',
                        'data': {
                            'type': 'FeatureCollection',
                            'features': [{% for r in object_list %}{% if r.nosilec.latlong|length > 3 %}
                                {
                                    'type': 'Feature',
                                    'properties': {
                                        'description': '<p>{{ r.nosilec }}<br /><b>{{ r.ime }}</b><br />od {{ r.nakup.year }}</p>',
                                        'icon': 'cat',
                                        'leto': {{ r.nakup.year }}
                                    },
                                    'geometry': {
                                        'type': 'Point',
                                        'coordinates': [{{ r.nosilec.latlong|slice:"1:-1" }}]
                                    }
                                }{% if forloop.last%}{% else %},{% endif %}
                                {% endif %}{% endfor %}
                            ]
                        }
                    }
                );

                // Add a layer showing the places.
                map.addLayer({
                    'id': 'places',
                    'type': 'symbol',
                    'source': 'places',
                    'minzoom': 14,
                    'text-color': 'black',
                    'layout': {
                        'icon-image': 'cat',
                        'icon-overlap': 'never'
                    }
                });

                filterBy(1972);

                // When a click event occurs on a feature in the places layer, open a popup at the
                // location of the feature, with description HTML from its properties.
                map.on('click', 'places', function (e) {
                    var coordinates = e.features[0].geometry.coordinates.slice();
                    var description = e.features[0].properties.description;
                    
                    // Ensure that if the map is zoomed out such that multiple
                    // copies of the feature are visible, the popup appears
                    // over the copy being pointed to.
                    while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                        coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                    }
                    
                    new maplibregl.Popup()
                    .setLngLat(coordinates)
                    .setHTML(description)
                    .addTo(map);
                });
                
                // Change the cursor to a pointer when the mouse is over the places layer.
                map.on('mouseenter', 'places', function () {
                    map.getCanvas().style.cursor = 'pointer';
                });
                
                // Change it back to a pointer when it leaves.
                map.on('mouseleave', 'places', function () {
                    map.getCanvas().style.cursor = '';
                }); 
            });

            document.getElementById('slider').addEventListener('input', function (e) {
                var year = e.target.value;
                filterBy(year);
            });
        </script>  
</div>
{% endblock %}