{% load highlight %} 

{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style>
  p.highlights { font-style: italic;} 
  span.highlighted { background-color: yellow; }
  br, hr { clear: both; }
  ul#id_models { display: none; }
  li.inline { display: inline; padding-right: 1em; }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid bg-3 text-center">  
<form method="get" action="/search/" class="form" role="form">
  {{ form.non_field_errors }}
  <br />
  <input type="search" name="q" value="{{ query }}" id="id_q">
  <input type="submit" class="btn btn-primary" value="Iskanje">
  <hr />
  {% if query %}
  {% regroup page.object_list by object.eksponat.kategorija as grouped_objects %}
    <h3>Najdbe</h3>
    <ul class="inline">{%for category in grouped_objects %}<li class="inline">{{ category.grouper }} ({{ category.list|length }})</li>{% endfor %}</ul>
    <div class="container-fluid bg-4 text-left">    
                <div class="row">
                  {% for category in grouped_objects %}
                  <hr />
                  <h4>Najdbe vrste: {{ category.grouper }}</h4>
                  {% for result in category.list %}
                <div class="col-sm-4">
                  <div class="thumbnail">
                    {% if result.object.eksponat %}
                      <div class="form-group">
                        <h4>Primerek {{ result.object }}</h4>
                        <p class="highlights">{% highlight result.text with query %}</p>
                        <hr />
                        <p>Stanje: {{ result.object.stanje }}</p>
                        <p>Zgodovina: {{ result.object.zgodovina }}</p>
                        <p>Kategorija : {{ result.object.eksponat.kategorija }} </p>
                        <p>Velikost : {{result.object.eksponat.sirina_cm}} x {{result.object.eksponat.visina_cm}} x {{result.object.eksponat.dolzina_cm}}</p>
                        <p>Stevilo primerkov v zbirki : {{result.object.eksponat.st_primerkov}} </p>
                        <p>Opis : {{result.object.eksponat.opis}} </p>
                        <p>Povezave:</p>
                        <ul>
                          {% if result.object.eksponat.wikipedia %}<li><a target="_blank" href="{{ result.object.eksponat.wikipedia }}">Wikipedia</a></li>{% endif %}
                          {% if result.object.eksponat.oldcomputers %}<li><a target="_blank" href="{{ result.object.eksponat.oldcomputers }}">Old computers</a></li>{% endif %}
                          {% if result.object.eksponat.uradnastran %}<li><a target="_blank" href="{{ result.object.eksponat.uradnastran }}">Uradna stran</a></li>{% endif %}
                          {% if result.object.eksponat.vir %}<li><a target="_blank" href="{{ result.object.eksponat.vir }}">Vir</a></li>{% endif %}
                        </ul>
                      </div>
                     {% if result.object.eksponat.fotografija %}{{ result.object.eksponat.image_tag }}{% endif %}

                    {% elif result.object.tiskovina %}
                      <h4>{{ result.object.tiskovina }}</h4>
                      <p class="highlights">{% highlight result.text with query %}</p>
                      <a target="_blank" href="{{ result.object.get_absolute_url }}">
                        <img src="{{ result.object.get_cover_image }}" />
                      </a>
                    
                    {% elif result.object.racunalnik_set %}
                      <h4>Raziskovalni vir {{ result.object.sifra }}</h4>
                      <p>{{ result.object.naslov }}</p>
                      <p class="highlights">{% highlight result.object.vsebina with query %}</p>
                      <p><a href="{{ result.object.url }}" target="_blank">Povezava</a></p>
                    {% endif %}
                  </div>
                </div>
                {% empty %}
                   <p class="text-center">No results found.</p>
                    {% endfor%}
                    {% endfor %}
                </div>
        </div>   
        {% endif %}
</form>
</div>
{% endblock %}
