<h3>{{ object.kategorija }}</h3>
<h1>{{ object.ime }}</h1>
<h2>{{ object.proizvajalec }}</h2>
{% for primerek in object.primerek_set.all %}
	{% if primerek.fotografija %}
	<img src="{{ primerek.fotografija.url }}" height="200px" />
	{% endif %}
{% endfor %}
<ul>
	<li>{{ object.tip }}</li>
	<li>{{ object.opis }}</li>
	{% if object.wikipedia %}<li><a href="{{ object.wikipedia }}" target="_blank">{{ object.wikipedia }}</a></li>{% endif %}
	{% if object.oldcomputers %}<li><a href="{{ object.oldcomputers }}" target="_blank">{{ object.oldcomputers }}</a></li>{% endif %}
	{% if object.uradnastran %}<li><a href="{{ object.uradnastran }}" target="_blank">{{ object.uradnastran }}</a></li>{% endif %}
	{% if object.vir %}<li><a href="{{ object.vir }}" target="_blank">{{ object.vir }}</a></li>{% endif %}
	{% if object.leto_proizvodnje %}<li>{{ object.leto_proizvodnje }}</li>{% endif %}
	<li>stevilo primerkov: {{ object.st_primerkov }}</li>
</ul>
{% if user.is_authenticated %}
        <p><a target="_blank" href="/admin/inventura/eksponat/{{ object.id }}/change/">Uredi</a></p>       
{% endif %}    
