<html>
	<head>
		<style>
			.infobox, #infobox { float: right; border: 1px solid black; }
		</style>
	</head>
<body>


<div id='nav'>
		<p>
			{% if prev %}
				<a href='/eksponat/{{ prev }}/'><- prejšnji eksponat</a>
			{% endif %}
			{% if next %}
				<a href='/eksponat/{{ next }}/' style="float: right;">naslednji eksponat -></a>
			{% endif %}
		</p>
</div>

<div id='infobox'>
<!-- previously stored versions -->
{% if object.infobox %}
	{{ object.infobox|safe }}	

{% elif object.onlinephoto %}
	<img class='infobox' src="{{ object.onlinephoto }}" height="300px" />

<!-- realtime fetched preview to be confirmed -->
{% else %}
	<h4>Samodejno smo nasli:</h4>
	{% if wikiimage %}<p>Sliko: <img src='{{ wikiimage }}' height=200 /></p>{% endif %}
	{% if wikiurl %}<p>Wiki vir: <a href='{{ wikiurl }}' target='_blank'>{{ wikiname }}</a></p>{% endif %}
	{% if infobox %}<p>Wiki infobox: </p>{{ infobox|safe }}{% endif %}

	{% if user.is_authenticated %}
		<form action="/eksponat/{{ object.id }}/uredi/" method="post">
		    {% csrf_token %}
		    <!-- todo: check if field.label already exists under object.bio -->	
		    <input type='hidden' name='wikiurl' value='{{ wikiurl|urlencode }}'>
		    <input type='hidden' name='wikiimage' value='{{ wikiimage|urlencode }}'>
		    <input type='hidden' name='infobox' value="{{ infobox|escape }}">
		    <button type="submit" value="Shrani">Shrani</button>
		</form>
	{% endif %}
{% endif %}
</div>

<h3>{{ object.kategorija }}</h3>
<h1>{{ object.ime }}</h1>
<h2>{{ object.proizvajalec }}</h2>
{% for primerek in object.primerek_set.all %}
	{% if primerek.fotografija %}
	<img src="{{ primerek.fotografija.url }}" height="300px" />
	{% endif %}
{% endfor %}

<ul>
	{% if object.tip %}<li>{{ object.tip }}</li>{% endif %}
	{% if object.opis %}<li>{{ object.opis }}</li>{% endif %}
	{% if object.wikipedia %}<li><a href="{{ object.wikipedia }}" target="_blank">{{ object.wikipedia }}</a></li>{% endif %}
	{% if object.oldcomputers %}<li><a href="{{ object.oldcomputers }}" target="_blank">{{ object.oldcomputers }}</a></li>{% endif %}
	{% if object.uradnastran %}<li><a href="{{ object.uradnastran }}" target="_blank">{{ object.uradnastran }}</a></li>{% endif %}
	{% if object.vir %}<li><a href="{{ object.vir }}" target="_blank">{{ object.vir }}</a></li>{% endif %}
	{% if object.leto_proizvodnje %}<li>{{ object.leto_proizvodnje }}</li>{% endif %}
	<li>stevilo primerkov: {{ object.st_primerkov }}</li>

	{% for p in object.primerek_set.all %}
	{% for r in p.razstava_set.all %}
	<li>Razstavljen: {% if r %}<a href="{{ r.get_absolute_url }}">{{ r }}</a>{% endif %}</li>
	{% endfor %}
	{% endfor %}

</ul>
{% if user.is_authenticated %}
        <p><a target="_blank" href="/admin/inventura/eksponat/{{ object.id }}/change/">Uredi</a></p>       
{% endif %}    

<h3>Primerki</h3>
<ul>
	{% for p in object.primerek_set.all %}
	<li>{{ p }}, {{ p.serijska_st }}
		{% if user.is_authenticated %}
        (<a target="_blank" href="/admin/inventura/primerek/{{ p.pk }}/change/">Uredi</a>)       
		{% endif %}    
	</li>
	{% endfor %}
</ul>


</body>
</html>