{% extends 'base.html' %}
{% load static %}
{% load extras %}

{% block title %}Revije v knjižnici računalniškega muzeja{% endblock %}

{% block css %}
        .box { width: 120px; float: left; padding: 10px; }
        .box img { box-shadow: 4px 4px black; } 
        h3, h4, hr { clear: both; }
        .sidebar, #head { background-color: #efefef; }
        body { font-family: Roboto; }
{% endblock %}

{% block head %}
        <meta charset="utf-8">
{% endblock %}

{% block content %}
<div id="main" class="container-fluid">
    <div class="row align-items-start">

<!-- actual content -->
    <div id="head" class="col-3 ">
        <div class="row">
        <h3>Arhiv tiskovin računalniškega muzeja</h3>
            <p id="about"><a href="{{ root }}/oprojektu/">O projektu</a>, 
                <a target="_blank" href="https://www.racunalniski-muzej.si">O muzeju</a>, 
                {% if user.is_authenticated %}{{ user }}{% else %}
                <a target="_blank" href="https://zbirka.muzej.si/accounts/login/">Prijava</a>
                {% endif %}
            </p>
            <p id="search">
                <form method="get" action="{{ root }}{% if selected %}/{{ selected }}/{% endif %}" class="form" role="form">
                    {{ form.non_field_errors }}
                    <input type="search" name="q" value="{% if query %}{{ query }}{% endif %}" id="id_q">
                    <input type="submit" class="btn btn-primary" value="Iskanje">
                </form>
            </p>
        <hr />
    </div>
    <div class="row">
        {% revije_nav selected root object_list %}
    </div>
</div><!-- end of head column -->

<div id="content" class="col-9">
    {% regroup object_list|dictsort:"leto" by leto as newlist %}
    {% if selected %}<h2>{{ eksponat.ime }}</h2><p>{{ eksponat.opis }}</p>{% endif %}
    {% for year in newlist %}
    <a name='{{ year.grouper }}'></a>
    <h3>{{ year.grouper }}</h3>
    {% if selected %}{% else %}<hr />{% endif %}
    {% regroup year.list|dictsort:"leto" by eksponat as letniki %}
        {% for leto in letniki %}
            <div class="{{ leto.grouper }}">
        {% if selected %}{% else %}<h4 class="leto">{{ leto.grouper }}</h4>{% endif %}
        {% for object in leto.list|dictsort:"datum" %}
            <div class="box {{ object.eksponat.id }}" revija="{{ object.eksponat.ime }}">
                {% if user.is_authenticated %}
                <a target="_blank" href="{{ root }}/{{ object.id }}"><img src="{{ object.get_cover_image }}" loading="lazy" /></a>
                {% elif object.dovoljenje %}
                <a target="_blank" href="{{ root }}/{{ object.id }}"><img src="{{ object.get_cover_image }}" loading="lazy" /></a>
                {% else %}
                <a target="_blank" href="{{ object.eksponat.uradnastran }}"><img src="{{ object.get_cover_image }}" loading="lazy" /></a>
                {% endif %}
                {% if object.datum %}<p>{{ object.datum|date:"E Y" }}
                {% else %}<p>{{ object.mesec}} - {{ object.leto }}{% endif %}
                <br />{{ object.pages }} strani</p>
            </div>
        {% endfor %}
        </div>
        {% endfor %}
        {% if selected %}{% else %}<hr />{% endif %}
    {% endfor %}
    </div>

<!-- end container and row -->    
</div></div>
{% endblock %}