{% load static tailwind_tags %}
{% load extras %}
{% load static %}

<head>
	<title>Računalniški muzej | {{ object.naslov }}</title>
	<meta description="{{ object.opis }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
		rel="stylesheet" />
	{% tailwind_css %}
</head>

<body class="bg-gray-50 pt-[90px] lg:pt-[115px]">

	<!-- navigation -->
	{% include '../_components/header.html' %}


	<!-- hero -->
	<div class="bg-white lg:py-32">
		<div class="mx-auto container">
			<div class="grid grid-cols-1 lg:grid-cols-2 gap-0 p-0 lg:px-6 justify-between items-center lg:gap-6">
				<div class="flex flex-col justify-center px-3 py-6 order-2 text-gray-700 lg:px-0 lg:py-0 lg:order-1">

					<h1 class="mb-6 text-3xl lg:text-6xl font-black text-gray-900">
						{{ object.naslov }}
					</h1>
					<p class="mb-6 text-xl lg:text-2xl">{{ object.opis }}</p>


					<ul class="list-disc pl-6 text-xl lg:text-2xl">
						<li class="mb-1 text-gray-700">
							{{ object.lokacija }}
						</li>
						{% if object.otvoritev %}
						<li class="mb-1">{{ object.otvoritev }} - {{ object.zakljucek }}</li>
						{% endif %}
						<li>
							Avtorji:
							{% for avtor in object.avtorji.all %}
							{{ avtor }}
							{% endfor %}
						</li>
					</ul>
					{% if user.is_authenticated %}
					<a target=" _blank" class="mt-4 text-blue-500 hover:underline"
						href="/admin/inventura/razstava/{{ object.pk }}/change/">Uredi</a>
					{% endif %}

				</div>
				{% if object.fotografija %}
				<div class="order-1 lg:order-2">
					<img class="block w-full" src="{% get_media_prefix %}{{ object.fotografija }}"
						alt="Vzorcna fotografija razstave ali zbirke" role="img" />
				</div>
				{% endif %}
			</div>
		</div>
	</div>

	<!-- table of contents -->
	<div class="bg-gray-50 border-y-2 border-gray-100">
		<div class="container mx-auto px-3 pt-6 pb-4 lg:px-6 lg:pt-6">
			<p class="block text-gray-700 font-semibold pb-3 hover:text-gray-900">
				Kategorije predmetov na razstavi:</p>
			{% regroup object.primerki.all|sort_by:'eksponat__kategorija' by eksponat.kategorija as kategorije %}
			<nav id="kazalo" class="text-sm">
				<span data-category="all" class="filter inline-flex py-2 px-4 mr-2 mb-2 bg-brand-pink text-white rounded-full font-semibold cursor-pointer hover:brightness-110">Vse</span>
				{% for kategorija in kategorije|groups_sort_reversed %}
				<span data-category="{{ kategorija.grouper|lower|cut:' ' }}"
					class="filter inline-flex py-2 px-4 mr-2 mb-2 rounded-full font-semibold bg-gray-300 text-gray-700 hover:brightness-110 cursor-pointer">
					{{ kategorija.grouper }} ({{ kategorija.list|length }})
				</span>
				{% endfor %}
			</nav>
		</div>
	</div>

	<!-- grid -->
	<div class="bg-white mb-12 border-b-2 border-gray-100">
		<div class="container mx-auto px-3 py-6 lg:px-6 lg:py-12">
			<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
				{% for primerek in object.primerki.all|sort_by:'leto_proizvodnje' %}

				<div class="primerek flex flex-col bg-white p-4 border-2 border-gray-100" data-category="{{ primerek.eksponat.kategorija|lower|cut:' '  }}">
					<a href="{{ primerek.eksponat.get_absolute_url }}" class="block">
					{% if primerek.eksponat.fotografija %}
						<img src='{{ primerek.eksponat.fotografija }}'
							class="block w-full h-48 rounded-md object-cover" />
							{% else %}
							<div class="flex items-center justify-center h-48 bg-gray-200 text-gray-400 uppercase">Fotografija
								ni na voljo
							</div>
							{% endif %}
						</a>
					<div class="grow pt-4">
						<h3 class="font-bold text-xl mb-2">
							<a href="{{ primerek.eksponat.get_absolute_url }}" class="block text-brand-pink">
								{% if primerek.eksponat.ime %}
								{{ primerek.eksponat.ime }}
								{% else %}
								#{{ primerek.pk }}
								{% endif %}
							</a>
						</h3>
						{% if primerek.leto_proizvodnje %}
						<p class="font-semibold mb-2" title="ID: #{{ primerek.pk }}">
							{{ primerek.leto_proizvodnje }}
						</p>
						{% endif %}
						<p class="text-gray-600 mb-2">{{ primerek.eksponat.kategorija }}, {{ primerek.eksponat.opis }}
						</p>

						{% if primerek.donator %}<p class="text-gray-600">Donator: {{ primerek.donator }}</p>{% endif %}
						<ul class="mb-6">
							{% if primerek.eksponat.wikipedia %}
							<li><a class="text-brand-pink hover:underline"
									href="{{ primerek.eksponat.wikipedia }}">Wikipedia</a>
							</li>
							{% endif %}
							{% if primerek.eksponat.oldcomputers %}
							<li><a class="text-brand-pink hover:underline"
									href="{{ primerek.eksponat.oldcomputers }}">Druge zbirke</a>
							</li>
							{% endif %}
							{% if primerek.eksponat.uradnastran %}
							<li><a class="text-brand-pink hover:underline"
									href="{{ primerek.eksponat.uradnastran }}">Uradna stran</a>
							</li>
							{% endif %}
							{% if primerek.eksponat.vir %}
							<li><a class="text-brand-pink hover:underline" href="{{ primerek.eksponat.vir }}">Drugi
									viri</a>
							</li>
							{% endif %}
						</ul>
					</div>
					<div class="grow-0">
						<a href="{{ primerek.eksponat.get_absolute_url }}"
							class="inline-flex  text-brand-pink border-brand-pink mr-3 hover:bg-opacity-90 uppercase text-sm font-semibold">+
							Podrobnosti
						</a>
						{% if user.is_authenticated %}
						<a target="_blank" class="text-brand-pink hover:underline"
							href="/admin/inventura/primerek/{{ primerek.pk }}/change/">Uredi</a>
						{% endif %}

					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<script>
		const items = document.querySelectorAll(".primerek");
        const filters = document.querySelectorAll(".filter");

		filters.forEach((filter) => {
			filter.addEventListener("click", (event) => {
				const button = event.target;
				const category = button.dataset.category;

				document.querySelectorAll(".filter").forEach(filter => {
					if(filter.classList.contains("bg-brand-pink")) {
						filter.classList.remove("bg-brand-pink");
						filter.classList.remove("text-white");
						filter.classList.add("bg-gray-300");
						filter.classList.add("text-gray-700");
					}					
				})

				button.classList.remove("bg-gray-300");
				button.classList.remove("text-gray-700");
				button.classList.add("bg-brand-pink");
				button.classList.add("text-white");

				items.forEach(item => {
					item.classList.remove("hidden");

					if(item.dataset.category !== category && category !== "all") {
						item.classList.add("hidden");
					}
				})

			});
		})
      
	</script>
</body>