{% load static tailwind_tags %}

<head>
<link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    {% tailwind_css %}
</head>

<h3>Razstava / zbirka</h3>
<h1>{{ object.naslov }}</h1>
<h2>{{ object.otvoritev }} - {{ object.zakljucek }}, {{ object.lokacija }}</h2>

<p>{{ object.opis }}</p>
{% if user.is_authenticated %}
        <p><a target="_blank" href="/admin/inventura/razstava/{{ object.id }}/change/">Uredi</a></p>       
{% endif %}    

<h4>Avtorji</h4>
<ul>
	{% for avtor in object.avtorji.all %}
	<li>{{ avtor }}</li>
	{% endfor %}
</ul>

<h4>Kazalo</h4>
<ul>
	{% for primerek in object.primerki.all %}
	<li class='item'>
		<p>{{ primerek.eksponat.kategorija }}</p>
		{% if primerek.fotografija %}<img src='{{ primerek.fotografija }}' />{% endif %}
		<a href="{{ primerek.eksponat.get_absolute_url }}">{{ primerek.eksponat.ime }} 
			{% if primerek.leto_proizvodnje %}({{ primerek.leto_proizvodnje }}){% endif %}</a>
		<p>{{ primerek.eksponat.opis }}</p>
		<ul>
			{% if primerek.eksponat.wikipedia %}<li><a href="{{ primerek.eksponat.wikipedia }}">Wikipedia</a></li>{% endif %}
			{% if primerek.eksponat.oldcomputers %}<li><a href="{{ primerek.eksponat.oldcomputers }}">Druge zbirke</a></li>{% endif %}
			{% if primerek.eksponat.uradnastran %}<li><a href="{{ primerek.eksponat.uradnastran }}">Uradna stran</a></li>{% endif %}
			{% if primerek.eksponat.vir %}<li><a href="{{ primerek.eksponat.vir }}">Drugi viri</a></li>{% endif %}
		</ul>
		{% if primerek.donator %}<p>Donator: {{ primerek.donator }}</p>{% endif %}
	</li>
	{% endfor %}
</ul>
