{% extends 'base.html' %}
{% load static %}
{% load extras %}

{% block title %}Revije v knjižnici računalniškega muzeja{% endblock %}

{% block css %}
        .box { width: 120px; float: left; padding: 10px; }
        .box img { box-shadow: 4px 4px black; } 
        h3, h4, hr { clear: both; }
        .sidebar, #head { background-color: #efefef; }
{% endblock %}

{% block head %}
        <meta charset="utf-8">
{% endblock %}

{% block content %}
<div id="main" class="container-fluid">
    <div class="row align-items-start">
    <div id="head" class="col-3">
        <div class="row">
        <h3>Arhiv tiskovin računalniškega muzeja</h3>
            <p id="about"><a href="{{ root }}/oprojektu/">O projektu</a>, <a href="https://www.racunalniski-muzej.si">Domov</a></p>
            <p id="search">
                <form method="get" action="{{ root }}" class="form" role="form">
                    {{ form.non_field_errors }}
                    <input type="search" name="q" value="{% if query %}{{ query }}{% endif %}" id="id_q">
                    <input type="submit" class="btn btn-primary" value="Iskanje">
                </form>
            </p>
        <hr />
    </div>
    <div class="row">
        {% revije_nav tip %}
    </div>
</div><!-- end of head column -->

<div id="content" class="col-9">
        <p>Knjiznica Racunalniskega muzeja zbira, hrani in daje na voljo za raziskovanje obsirno zbirko knjig in revij, 
            ki so oblikovale slovenski racunalniski prostor. Stare racunalniske knjige splosne knjiznice redno odpisujejo, 
            tako da smo za marsikatero se edini enostavno dostopen vir.</p>
        <p>Na tem spletiscu po vzoru d-lib objavljamo digitalne kopije periodike iz studijske knjiznice, 
            povezane v moderen zmogljiv iskalnik. Kjer smo pridobili dovoljenje zalozbe lahko revije tudi prelistate, 
            sicer pa rezultati iskanja vodijo na domace strani zalozb. Vse kopije izvirajo ali iz skupnosti, 
            ali pa smo jih poskenirali sami v muzeju. Vse revije, ki so na tej strani imamo tudi v fizicni obliki v knjiznici, 
            kjer so tudi se druge manj pomembne ali ne Slovenske. Celotna vsebina knjiznice bo scasoma vpisana tudi 
            v <a target="_blank" href="https://plus.cobiss.net/cobiss/si/sl/bib/search?q=*&db=rmlj&mat=allmaterials">Cobiss</a></p>
        <p>Zbiramo vse revije v slovenskem jeziku, ki se primarno ukvarjajo z računalništvom, in posamične izvode drugih strokovnih revij, 
            ki vsebujejo članke povezane z računalništvom (primer: Geodetski vestnik, Bančni vestnik).</p>
        <p>Nekatere izvode v elektronski obliki so objavile založbe same, nekatere so poskenirali prostovoljci, 
            veliko smo jih pa iz lastne zbirke poskenirali v muzeju.</p>
        <p>Primarni namen te zbirke je podpora raziskovalni dejavnosti. Kvaliteta posnetkov je zato ponekod slaba ali pomankljiva, 
            a dokler so čitljivi služijo namenu.</p>
        <p>Brez te zbirke digitalnega gradiva ne bi bilo mogoce izvesti drugih temeljnih raziskav muzeja, 
            kot je na primer <a href="https://evidenca.muzej.si">evidenca.muzej.si</a></p>

        <h3>Iščemo še:</h3>
        <ul>
            <li>Moj Mikro</li>
            <li>Monitor</li>
            <li>Življenje in tehnika</li>
            <li>Programer</li>
            <li>...</li>
        </ul>

        <h3>Zahvale:</h3>
        <ul>
            <li>D-lib</li>
            <li>tomcat (skupnost, ki je prispevala zacetne posnetke)</li>
            <li>zalozba Pasadena</li>
            <li>zalozba Jazbina (revija Joker)</li>
            <li>zalozba Mladina (revije Monitor, PC & Mediji, Megazin, Monitor Pro)</li>
            <li>drustvo Informatica (revije Informatica, Uporabna informatika)</li>
            <li>zalozba IJS (IJS Novice)</li>
            <li>Dnevnik (revija BIT)</li>
            <li>TZS (revija Življenje in tehnika)</li>
            <li>Arrs (raziskovalna poročila)</li>
            <li>Geodetski vestnik</li>
<!--
            <li>DMFA (Obzornik)</li>
            <li>Elektrotehniska zveza (Elektrotehniski vestnik)</li>
            <li>Bancni vestnik</li>
            <li>Arnes arhiv</li>
-->            
        </ul>
        <h3>Kolofon:</h3>
        <ul>
            <li>Programiranje: Bostjan Spetic, Anej Gorkic</li>
            <li>Strežniki: </li>
            <li>Index: Python Whoosh</li>
            <li>OCR: Tesseract 4.0</li>
            <li>Lastnosti novih posnetkov: ScanSnap ix500, 200 dpi, nizka kompresija</li>
        </ul>
{% endblock %}