<html>
    <head>

    </head>
    <body>
        <p>Knjiznica Racunalniskega muzeja zbira, hrani in daje na voljo za raziskovanje obsirno zbirko knjig in revij, ki so oblikovale slovenski racunalniski prostor. Stare racunalniske knjige splosne knjiznice redno odpisujejo, tako da smo za marsikatero se edini enostavno dostopen vir.</p>
        <p>Na tem spletiscu po vzoru d-lib objavljamo digitalne kopije periodike iz studijske knjiznice, povezane v moderen zmogljiv iskalnik. Kjer smo pridobili dovoljenje zalozbe lahko revije tudi prelistate, sicer pa rezultati iskanja vodijo na domace strani zalozb. Vse kopije izvirajo ali iz skupnosti, ali pa smo jih poskenirali sami v muzeju. Vse revije, ki so na tej strani imamo tudi v fizicni obliki v knjiznici, kjer so tudi se druge manj pomembne ali ne Slovenske. Celotna vsebina knjiznice bo scasoma vpisana tudi v <a target="_blank" href="https://plus.cobiss.net/cobiss/si/sl/bib/search?q=*&db=rmlj&mat=allmaterials">Cobiss</a></p>
        <p>Brez te zbirke digitalnega gradiva ne bi bilo mogoce izvesti drugih temeljnih raziskav muzeja, kot je evidenca.muzej.si</p>
        <p>Zahvale:</p>
        <ul>
            <li>D-lib</li>
            <li>tomcat (skupnost, ki je prispevala zacetne posnetke)</li>
            <li>zalozba Pasadena</li>
            <li>zalozba Jazbina (Joker)</li>
            <li>zalozba Mladina (Monitor, PC & Mediji, Megazin, Monitor Pro)</li>
            <li>drustvo Informatica</li>
            <li>zalozba IJS (IJS Novice)</li>
            <li>Dnevnik (revija BIT)</li>
<!--
            <li>DMFA (Obzornik)</li>
            <li>TZS (ZIT)</li>
            <li>Elektrotehniska zveza (Elektrotehniski vestnik)</li>
            <li>Bancni vestnik</li>
            <li>Arnes arhiv</li>
            <li>Arrs</li>
            <li>Geodetski vestnik</li>
-->            
        </ul>
        <p>Splosno:</p>
        <ul>
            <li>Programiranje: Bostjan Spetic, Anej Gorkic</li>
            <li>Index: Python Whoosh</li>
            <li>OCR: Tesseract 4.0</li>
        </ul>
    </body>
</html>