{% load static %}
<!doctype html>
<html lang="en" class="no-js  " >
<head>
    <style>
        .box { width: 120px; float: left; padding: 10px;  }
        .box img { box-shadow: 4px 4px black; }
        h1, h2, hr { clear: both; }
    </style>
    <meta charset="utf-8">
    <title>Revije v knjižnici računalniškega muzeja</title>
</head>
<body>
    {% regroup object_list by eksponat as newlist %}
    <h1>Arhiv revij računalniškega muzeja</h1>
    <ul>
        {% for title in newlist %}
        {% regroup title.list|dictsort:"leto" by leto as letniki %}
        <li><a href="#{{ title.grouper }}">{{ title.grouper }}</a> ({{ letniki.0.grouper }}-, {{ title.list|length }})</li>
        {% endfor %}
    </ul>
    <hr />
    {% for title in newlist %}
    <a name='{{ title.grouper }}'></a>
    <h1>{{ title.grouper }}</h1>
    <p>{{ title.list.0.eksponat.opis }}</p>
    <p>{{ title.list.0.eksponat.proizvajalec }}</p>
    <p>{{ title.list.0.eksponat.wikipedia }}</p>
    <p>{{ title.list.0.eksponat.uradnastran }}</p>
    <p>{{ title.list.0.eksponat.vir }}</p>
    
        {% regroup title.list|dictsort:"leto" by leto as letniki %}
        {% for leto in letniki %}
        <h2>{{ leto.grouper }}</h2>

        {% for object in leto.list|dictsort:"datum" %}
        <div class="box">
            <a target="_blank" href="{{ object.get_absolute_url }}">
                <img src="{{ object.get_cover_image }}" />
            </a>
            {% if object.datum %}<p>{{ object.datum|date:"E Y" }}</p>
            {% else %}<p>{{ object.mesec}} - {{ object.leto }}</p>{% endif %}
            <p>{{ object.pages }} strani</p>
        </div>
        {% endfor %}
        {% endfor %}
        <hr />
    {% endfor %}
</body>
</html>